$main-gradient: linear-gradient(54.9deg, #2D8550 16.62%, #5E6EC2 83.38%);
$cheap-gradient: linear-gradient(258.29deg, #8049C7 0%, #CA57FD 100%);
$brand-gradient: linear-gradient(258.29deg, #169AE4 0%, #0CC4FA 100%);
$yellow-gradient: linear-gradient(90deg, #FFD748 0.02%, rgba(195, 199, 11, 0.96) 99.97%, #CAC6AB 99.98%, #D3E9E1 99.99%);
$gradient-gray: linear-gradient(90deg, #D9D9D9 0%, #A1A1A1 100%);
$not-so-dark: #8E9AD5; 
$teva-dark-gray: #424242;